<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSSGrid</title>
    <link rel="stylesheet" href="../style/css-reset.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
    <article>
        <header>
            <ul>
                <li><a href="../index.html">Colored Grid</a></li>
                <li><a href="gallery.html">Photo Gallery</a></li>
                <li><a href="card.html">Business Card</a></li>
            </ul>
        </header>
        <h1 class="page-title">Card</h1>
        <div class="grid">
            <div class="card">
                <div class="card-container">
                    <h1 class="card-title">Card title</h1>
                    <p class="card-text">Secondary text</p>
                </div>
            </div>
        </div>
    </article>
</body>
</html>