<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSSGrid</title>
    <link rel="stylesheet" href="../style/css-reset.css">
    <link rel="stylesheet" href="../style/main.css">
</head>
<body>
<article>
    <header>
        <ul>
            <li><a href="../index.html">Colored Grid</a></li>
            <li><a href="gallery.html">Photo Gallery</a></li>
            <li><a href="card.html">Business Card</a></li>
        </ul>
    </header>
    <h1 class="page-title">Photo Gallery</h1>
    <div class="img-wrapper">
        <figure class="item img-1">
            <img class="img" src="../assets/breakfast.jpg" alt="breakfast">
        </figure>
        <figure class="item img-2">
            <img class="img" src="../assets/burgers.jpg" alt="burgers">
        </figure>
        <figure class="item img-3">
            <img class="img" src="../assets/camera.jpg" alt="camera">
        </figure>
        <figure class="item img-4">
            <img class="img" src="../assets/morning.jpg" alt="morning">
        </figure>
        <figure class="item img-5">
            <img class="img" src="../assets/hats.jpg" alt="hats">
        </figure>
        <figure class="item img-6">
            <img class="img" src="../assets/honey.jpg" alt="honey">
        </figure>
        <figure class="item img-7">
            <img class="img" src="../assets/vegetables.jpg" alt="vegetables">
        </figure>
        <figure class="item img-8">
            <img class="img" src="../assets/plant.jpg" alt="plant">
        </figure>
        <figure class="item img-9">
            <img class="img" src="../assets/mushroom.jpg" alt="mushroom">
        </figure>
        <figure class="item img-10">
            <img class="img" src="../assets/olive.jpg" alt="olive">
        </figure>
        <figure class="item img-11">
            <img class="img" src="../assets/star.jpg" alt="star">
        </figure>
        <figure class="item img-12">
            <img class="img" src="../assets/bike.jpg" alt="bike">
        </figure>
    </div>
</article>
</body>
</html>